// Grid System (16 columns)
.row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 100%;

    &.align-center {
        justify-content: center;
    }
}

.col {
    position: relative;
    width: 100%;
}

// Columns for xxlarge (default)
@for $i from 1 through 16 {
    .xxlarge-#{$i} {
        flex: 0 0 auto;
        width: calc((#{$i} / 16) * 100%);
    }
}

// Columns for small
@media only screen and (max-width: 1023px) {
    @for $i from 1 through 16 {
        .small-#{$i} {
            flex: 0 0 auto;
            width: calc((#{$i} / 16) * 100%);
        }
    }
}

// Columns for xsmall
@media only screen and (max-width: 743px) {
    @for $i from 1 through 16 {
        .xsmall-#{$i} {
            flex: 0 0 auto;
            width: calc((#{$i} / 16) * 100%);
        }
    }
}

.-text-center {
    text-align: center;
}

.-uppercase {
    text-transform: uppercase;
}
